<% if @ingredients.any? %>
  <h3>All Ingredients</h3>
  <p>
    Click on a link to edit the text of the ingerdient or delete it.
  </p>
  <ul>
    <% @ingredients.each() do |ingredient| %>
    <li><a href="/ingredient/<%= ingredient.id() %>"><%= ingredient.name() %></a></li>
    <% end %>
  </ul>

  <% else %>

  <% end %>

<div class="well">
  <form class="form-horizontal" action="/ingredient" method="post">
    <label for="ingredient_name">Name for your ingredient:</label>
    <input type="text" id="ingredient_name" name="ingredient_name">
    <button type="submit" name="button">Submit</button>
  </form>
</div>
<p>
  <a href="/">Home</a>
</p>
